/* Body */
body {
    background-image: url(/Tesh/Logos/T%C3%8BSH_white.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: black;
}

/* Text color */
h1 {
    padding-top: 10%;
    color: azure;
}

h3 {
   color: azure;
}

/* Profile picture */
#proPic {
    margin-top: 50px;
    max-width: 100%;
    height: auto;
}
/* Navbar hover */
.navbar-nav *:hover {
    background-color: grey;
}

.navbar-xs {
    min-height: inherit;
    height: 20px;
}

/* Image */
.img-thumbnail {
    width: 300px;
}

/* Image hover */
.img-thumbnail:hover {
    filter: contrast(160%);
}

/* About */
#about {
    margin-left: 20px;
    margin-right: 20px;
}

/* Bottom picture */
#logoPic {
    max-width: 100%;
    height: auto;
}

span, p {
    color: azure;
}

.close cursor{
    color: azure;
}
